header
    .row__header
        .logo
            img.logo__img(src="./assets/img/logo.svg")
            span.logo__brand Lasles
            span.logo__brand-type VPN
        nav.menu
            a.menu__item(href="#") About
            a.menu__item(href="#") Features
            a.menu__item(href="#") Pricing
            a.menu__item(href="#") Testimonials
            a.menu__item(href="#") Help
        nav.auth
            a.auth__item(href="#") Sign in
            a.auth__item.auth__item_sign_up(href="#") Sign Up
    .hero
        .information
            span.information__title Want anything to be easy with LaslesVPN.
            p.information__description Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.
            a.information__button.information__button_shadow(href="#") Get Started
        img.illustration(src="./assets/img/illustration_hero.svg")

